body{
    font-size: 14pt;
    color: #1A1E26;
    background-color:#f8f5f0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


#picture{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      
}

header{
    font-size:20pt;
    font-weight: bold;
}

h2{
    font-size:15pt;
    font-weight: bold;
}

#personalInfo{
    display:flex;
    flex-direction: row;
}


a{
    text-decoration: none;
    color:#592A2A;
}

#names{
    font-size: 25pt;
}

nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom:0;
    background-color: #BFA07A;
    color: #1A1E26;
    min-height:50px;
}

.forms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.circle{
    background-color: brown;
    width:20px;
    height:20px;
    border-radius: 50%;
    display: inline-block;
}

#uploadSchedule,#uploadattendances {
   
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    height: 230px;
    align-self: center;

    margin: 10px;
    padding: 20px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid #592A2A;
    border-radius: 10px;
    justify-content: space-evenly;
}

form legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    align-self: center;
    text-align: center;
}

#selectedUser{
    text-align: center;
}


select{
    background-color:#f8f5f0 ;
}
form *{
    margin-bottom: 1rem;
}

#main{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#selectUser{
    margin-left: 20%;
    margin-right: 20%;
    margin-top:30px;
    display: flex;
    flex-direction: row;
}

#selectUser button, #main button{
    background-color: white;
}

.form-input {
    border: none;
    border-bottom: 1px solid #592A2A;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 100%;
    background-color: #f8f5f0;
}

.form-input:hover {
    border-color: #3a1010;
    box-shadow: 0 1px 0 0 #3a1010;
    
}

.form-button {
    background-color: #592A2A;
    border: none;
    border-radius: 1.25rem;
    color: #f8f5f0;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    height: 2.375rem;
    width: 80%;
    margin-left: 10%;
}

.form-button:hover,
.form-button:focus,
.form-button:active {
    background-color: #3a1010;
}

input[type="file"] {
    display: none;
}

.form-upload {
    border: 1px solid #592A2A;
    height: 10px;
    display: inline-block;
    padding: 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    vertical-align: middle ;
    text-align: center;
    padding-top: 5px;
}

#submit{
    width: 200px;
    margin-left: 20px;
}

.spacing{
    margin-top:20px;
width:100%;
height:20px;
background-color: rgb(255, 253, 253);
}

.form-upload:hover,
.form-upload:focus,
.form-upload:active {
    border: 1px solid #592A2A;
    box-shadow: 1px 1px #592A2A;
}


svg {
    width: 25px; height: 25px;
    transform: rotate(-90deg);
    background: #f33232;
    border-radius: 50%;
}
  
circle {
    fill: #f33232;
    stroke: green;
    stroke-width: 32;
    /* stroke-dasharray: 38 100; */
  }
  
fieldset{
    display: flex;
    flex-direction: row;
    border:0;
}

.eventName{
    font-size: 15pt;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 100px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }