.center{
    border: 1px solid;
    display:flex;
    flex-direction:column;
    width: 50%;
    max-width: 600px;
    margin:auto;
}



.center *{
    margin-left: 10%;
    margin-top:20px;
    margin-bottom:10px;
    width:80%;    
}

.center{
    min-height: 300px;
    border: 3px solid white;
}
.error{
    display: none;
    font-weight: bold;
    color: rgb(248, 12, 12);
}

p {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 20pt;
    text-align: center;
}

html {
    height: 90%;
}

body{
    min-height: 100%;
    background-image: url("images/lib4.png");
    color:white;
    display: flex;
    justify-content: center;
}


#login{
    backdrop-filter: blur(13px);
}

button{
    border: none;
    text-decoration: none;
    height:23px;
    color:#1A1E26;
    font-family: 'Montserrat';
    font-size: 14pt;
    font-weight: bold;
    border-radius:3px;
}
